Incorrect indexRange in Example_G6

Example_G6 includes a <Representation> whose <SegmentBase> contains indexRange="7632"

DASH 3rd Edition (w18312 from Marrakech) says @indexRange is
>The byte range shall be expressed and formatted as a byte-range-spec as defined in [IETF RFC 7233, Clause 2.1](https://tools.ietf.org/html/rfc7233#section-2.1).. It is restricted to a single expression identifying a contiguous range of bytes.

RFC 7233 clause 2.1 says
>byte-range-spec = first-byte-pos "-" [ last-byte-pos ]
>     first-byte-pos  = 1\*DIGIT
>     last-byte-pos   = 1\*DIGIT

Thus the hyphen is mandatory. 
Instead a single byte (a range of 1 bytes( should therefore be expressed as @indexRange="7632-7632" - or perhaps the example should have more than one byte!

Agreed.

Corrected in dev commit 4a0ce7d